@media screen and (min-width: 375px) {
    body {
         background-color: #d6e2f0;
         font-family: 'Outfit', sans-serif;
         margin: 0px;
         text-align: center;
    }
    .div1{
        display: inline-block; 
        position: relative;
        top: 100px;
        background-color: #ffffff;
        width: 220px;
        height: 400px;
        padding: 20px;
        border-radius: 15px;
    }
    #img1{
        position: absolute;
        top: 15px;
        right: 15px;
        left: 15px;
        height: 230px;
        width: 230px;
        border-radius: 10px;
    }
    h3{
        position: absolute;
        text-align: center;
        color: #1f3251;
        font-weight: 700;
        top: 250px;
        right: 10px;
        left: 10px;
    }
    p{
        position: absolute;
        text-align: center;
        color: #7b879d;
        font-weight: 400;
        top: 320px;
        right: 10px;
        left: 10px;
        font-size: 15px;
    }
}